<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'index.css' %}" />

    <title>MyCurrencyList</title>
  </head>
  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark">
      <div class="container">
        <a href="" class="navbar-brand"
          >Currency Converter <span class="navbar-app"><strong>App</strong></span></a
        >
      </div>
    </div>

    <div class="title">
      <h1>Currency Converter</h1>
      <p>Check live foreign currency exchange rates</p>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="col">
          <label for="primary-amount">Amount</label>
          <div><input class="form-control" type="number" id="primary-amount" value="1" /></div>
        </div>
        <div class="col">
          <label for="primary-currency">From</label>
          <div class="container">
            <div class="currency">
              <select class="form-control" id="primary-currency">
                <option value='{"code": "AED", "name": "UAE Dirham"}'>AED - UAE Dirham</option>
                <option value='{"code": "AFN", "name": "Afghan Afghani"}'>AFN - Afghan Afghani</option>
                <option value='{"code": "ALL", "name": "Albanian Lek"}'>ALL - Albanian Lek</option>
                <option value='{"code": "AMD", "name": "Armenian Dram"}'>AMD - Armenian Dram</option>
                <option value='{"code": "ANG", "name": "Netherlands Antillian Guilder"}'>ANG - Netherlands Antillian Guilder</option>
                <option value='{"code": "AOA", "name": "Angolan Kwanza"}'>AOA - Angolan Kwanza</option>
                <option value='{"code": "ARS", "name": "Argentine Peso"}'>ARS - Argentine Peso</option>
                <option value='{"code": "AUD", "name": "Australian Dollar"}'>AUD - Australian Dollar</option>
                <option value='{"code": "AWG", "name": "Aruban Florin"}'>AWG - Aruban Florin</option>
                <option value='{"code": "AZN", "name": "Azerbaijani Manat"}'>AZN - Azerbaijani Manat</option>
                <option value='{"code": "BAM", "name": "Bosnia and Herzegovina Mark"}'>BAM - Bosnia and Herzegovina Mark</option>
                <option value='{"code": "BBD", "name": "Barbados Dollar"}'>BBD - Barbados Dollar</option>
                <option value='{"code": "BDT", "name": "Bangladeshi Taka"}'>BDT - Bangladeshi Taka</option>
                <option value='{"code": "BGN", "name": "Bulgarian Lev"}'>BGN - Bulgarian Lev</option>
                <option value='{"code": "BHD", "name": "Bahraini Dinar"}'>BHD - Bahraini Dinar</option>
                <option value='{"code": "BIF", "name": "Burundian Franc"}'>BIF - Burundian Franc</option>
                <option value='{"code": "BMD", "name": "Bermudian Dollar"}'>BMD - Bermudian Dollar</option>
                <option value='{"code": "BND", "name": "Brunei Dollar"}'>BND - Brunei Dollar</option>
                <option value='{"code": "BOB", "name": "Bolivian Boliviano"}'>BOB - Bolivian Boliviano</option>
                <option value='{"code": "BRL", "name": "Brazilian Real"}'>BRL - Brazilian Real</option>
                <option value='{"code": "BSD", "name": "Bahamian Dollar"}'>BSD - Bahamian Dollar</option>
                <option value='{"code": "BTN", "name": "Bhutanese Ngultrum"}'>BTN - Bhutanese Ngultrum</option>
                <option value='{"code": "BWP", "name": "Botswana Pula"}'>BWP - Botswana Pula</option>
                <option value='{"code": "BYN", "name": "Belarusian Ruble"}'>BYN - Belarusian Ruble</option>
                <option value='{"code": "BZD", "name": "Belize Dollar"}'>BZD - Belize Dollar</option>
                <option value='{"code": "CAD", "name": "Canadian Dollar"}'>CAD - Canadian Dollar</option>
                <option value='{"code": "CDF", "name": "Congolese Franc"}'>CDF - Congolese Franc</option>
                <option value='{"code": "CHF", "name": "Swiss Franc"}'>CHF - Swiss Franc</option>
                <option value='{"code": "CLP", "name": "Chilean Peso"}'>CLP - Chilean Peso</option>
                <option value='{"code": "CNY", "name": "Chinese Renminbi"}'>CNY - Chinese Renminbi</option>
                <option value='{"code": "COP", "name": "Colombian Peso"}'>COP - Colombian Peso</option>
                <option value='{"code": "CRC", "name": "Costa Rican Colon"}'>CRC - Costa Rican Colon</option>
                <option value='{"code": "CUP", "name": "Cuban Peso"}'>CUP - Cuban Peso</option>
                <option value='{"code": "CVE", "name": "Cape Verdean Escudo"}'>CVE - Cape Verdean Escudo</option>
                <option value='{"code": "CZK", "name": "Czech Koruna"}'>CZK - Czech Koruna</option>
                <option value='{"code": "DJF", "name": "Djiboutian Franc"}'>DJF - Djiboutian Franc</option>
                <option value='{"code": "DKK", "name": "Danish Krone"}'>DKK - Danish Krone</option>
                <option value='{"code": "DOP", "name": "Dominican Peso"}'>DOP - Dominican Peso</option>
                <option value='{"code": "DZD", "name": "Algerian Dinar"}'>DZD - Algerian Dinar</option>
                <option value='{"code": "EGP", "name": "Egyptian Pound"}'>EGP - Egyptian Pound</option>
                <option value='{"code": "ERN", "name": "Eritrean Nakfa"}'>ERN - Eritrean Nakfa</option>
                <option value='{"code": "ETB", "name": "Ethiopian Birr"}'>ETB - Ethiopian Birr</option>
                <option value='{"code": "EUR", "name": "Euro"}'>EUR - Euro</option>
                <option value='{"code": "FJD", "name": "Fiji Dollar"}'>FJD - Fiji Dollar</option>
                <option value='{"code": "FKP", "name": "Falkland Islands Pound"}'>FKP - Falkland Islands Pound</option>
                <option value='{"code": "FOK", "name": "Faroese Króna"}'>FOK - Faroese Króna</option>
                <option value='{"code": "GBP", "name": "Pound Sterling"}' selected>GBP - Pound Sterling</option>
                <option value='{"code": "GEL", "name": "Georgian Lari"}'>GEL - Georgian Lari</option>
                <option value='{"code": "GGP", "name": "Guernsey Pound"}'>GGP - Guernsey Pound</option>
                <option value='{"code": "GHS", "name": "Ghanaian Cedi"}'>GHS - Ghanaian Cedi</option>
                <option value='{"code": "GIP", "name": "Gibraltar Pound"}'>GIP - Gibraltar Pound</option>
                <option value='{"code": "GMD", "name": "Gambian Dalasi"}'>GMD - Gambian Dalasi</option>
                <option value='{"code": "GNF", "name": "Guinean Franc"}'>GNF - Guinean Franc</option>
                <option value='{"code": "GTQ", "name": "Guatemalan Quetzal"}'>GTQ - Guatemalan Quetzal</option>
                <option value='{"code": "GYD", "name": "Guyanese Dollar"}'>GYD - Guyanese Dollar</option>
                <option value='{"code": "HKD", "name": "Hong Kong Dollar"}'>HKD - Hong Kong Dollar</option>
                <option value='{"code": "HNL", "name": "Honduran Lempira"}'>HNL - Honduran Lempira</option>
                <option value='{"code": "HRK", "name": "Croatian Kuna"}'>HRK - Croatian Kuna</option>
                <option value='{"code": "HTG", "name": "Haitian Gourde"}'>HTG - Haitian Gourde</option>
                <option value='{"code": "HUF", "name": "Hungarian Forint"}'>HUF - Hungarian Forint</option>
                <option value='{"code": "IDR", "name": "Indonesian Rupiah"}'selected>IDR - Indonesian Rupiah</option>
                <option value='{"code": "ILS", "name": "Israeli New Shekel"}'>ILS - Israeli New Shekel</option>
                <option value='{"code": "IMP", "name": "Manx Pound"}'>IMP - Manx Pound</option>
                <option value='{"code": "INR", "name": "Indian Rupee"}'>INR - Indian Rupee</option>
                <option value='{"code": "IQD", "name": "Iraqi Dinar"}'>IQD - Iraqi Dinar</option>
                <option value='{"code": "IRR", "name": "Iranian Rial"}'>IRR - Iranian Rial</option>
                <option value='{"code": "ISK", "name": "Icelandic Króna"}'>ISK - Icelandic Króna</option>
                <option value='{"code": "JEP", "name": "Jersey Pound"}'>JEP - Jersey Pound</option>
                <option value='{"code": "JMD", "name": "Jamaican Dollar"}'>JMD - Jamaican Dollar</option>
                <option value='{"code": "JOD", "name": "Jordanian Dinar"}'>JOD - Jordanian Dinar</option>
                <option value='{"code": "JPY", "name": "Japanese Yen"}'>JPY - Japanese Yen</option>
                <option value='{"code": "KES", "name": "Kenyan Shilling"}'>KES - Kenyan Shilling</option>
                <option value='{"code": "KGS", "name": "Kyrgyzstani Som"}'>KGS - Kyrgyzstani Som</option>
                <option value='{"code": "KHR", "name": "Cambodian Riel"}'>KHR - Cambodian Riel</option>
                <option value='{"code": "KID", "name": "Kiribati Dollar"}'>KID - Kiribati Dollar</option>
                <option value='{"code": "KMF", "name": "Comorian Franc"}'>KMF - Comorian Franc</option>
                <option value='{"code": "KRW", "name": "South Korean Won"}'>KRW - South Korean Won</option>
                <option value='{"code": "KWD", "name": "Kuwaiti Dinar"}'>KWD - Kuwaiti Dinar</option>
                <option value='{"code": "KYD", "name": "Cayman Islands Dollar"}'>KYD - Cayman Islands Dollar</option>
                <option value='{"code": "KZT", "name": "Kazakhstani Tenge"}'>KZT - Kazakhstani Tenge</option>
                <option value='{"code": "LAK", "name": "Lao Kip"}'>LAK - Lao Kip</option>
                <option value='{"code": "LBP", "name": "Lebanese Pound"}'>LBP - Lebanese Pound</option>
                <option value='{"code": "LKR", "name": "Sri Lanka Rupee"}'>LKR - Sri Lanka Rupee</option>
                <option value='{"code": "LRD", "name": "Liberian Dollar"}'>LRD - Liberian Dollar</option>
                <option value='{"code": "LSL", "name": "Lesotho Loti"}'>LSL - Lesotho Loti</option>
                <option value='{"code": "LYD", "name": "Libyan Dinar"}'>LYD - Libyan Dinar</option>
                <option value='{"code": "MAD", "name": "Moroccan Dirham"}'>MAD - Moroccan Dirham</option>
                <option value='{"code": "MDL", "name": "Moldovan Leu"}'>MDL - Moldovan Leu</option>
                <option value='{"code": "MGA", "name": "Malagasy Ariary"}'>MGA - Malagasy Ariary</option>
                <option value='{"code": "MKD", "name": "Macedonian Denar"}'>MKD - Macedonian Denar</option>
                <option value='{"code": "MMK", "name": "Burmese Kyat"}'>MMK - Burmese Kyat</option>
                <option value='{"code": "MNT", "name": "Mongolian Tögrög"}'>MNT - Mongolian Tögrög</option>
                <option value='{"code": "MOP", "name": "Macanese Pataca"}'>MOP - Macanese Pataca</option>
                <option value='{"code": "MRU", "name": "Mauritanian Ouguiya"}'>MRU - Mauritanian Ouguiya</option>
                <option value='{"code": "MUR", "name": "Mauritian Rupee"}'>MUR - Mauritian Rupee</option>
                <option value='{"code": "MVR", "name": "Maldivian Rufiyaa"}'>MVR - Maldivian Rufiyaa</option>
                <option value='{"code": "MWK", "name": "Malawian Kwacha"}'>MWK - Malawian Kwacha</option>
                <option value='{"code": "MXN", "name": "Mexican Peso"}'>MXN - Mexican Peso</option>
                <option value='{"code": "MYR", "name": "Malaysian Ringgit"}'>MYR - Malaysian Ringgit</option>
                <option value='{"code": "MZN", "name": "Mozambican Metical"}'>MZN - Mozambican Metical</option>
                <option value='{"code": "NAD", "name": "Namibian Dollar"}'>NAD - Namibian Dollar</option>
                <option value='{"code": "NGN", "name": "Nigerian Naira"}'>NGN - Nigerian Naira</option>
                <option value='{"code": "NIO", "name": "Nicaraguan Córdoba"}'>NIO - Nicaraguan Córdoba</option>
                <option value='{"code": "NOK", "name": "Norwegian Krone"}'>NOK - Norwegian Krone</option>
                <option value='{"code": "NPR", "name": "Nepalese Rupee"}'>NPR - Nepalese Rupee</option>
                <option value='{"code": "NZD", "name": "New Zealand Dollar"}'>NZD - New Zealand Dollar</option>
                <option value='{"code": "OMR", "name": "Omani Rial"}'>OMR - Omani Rial</option>
                <option value='{"code": "PAB", "name": "Panamanian Balboa"}'>PAB - Panamanian Balboa</option>
                <option value='{"code": "PEN", "name": "Peruvian Sol"}'>PEN - Peruvian Sol</option>
                <option value='{"code": "PGK", "name": "Papua New Guinean Kina"}'>PGK - Papua New Guinean Kina</option>
                <option value='{"code": "PHP", "name": "Philippine Peso"}'>PHP - Philippine Peso</option>
                <option value='{"code": "PKR", "name": "Pakistani Rupee"}'>PKR - Pakistani Rupee</option>
                <option value='{"code": "PLN", "name": "Polish Złoty"}'>PLN - Polish Złoty</option>
                <option value='{"code": "PYG", "name": "Paraguayan Guaraní"}'>PYG - Paraguayan Guaraní</option>
                <option value='{"code": "QAR", "name": "Qatari Riyal"}'>QAR - Qatari Riyal</option>
                <option value='{"code": "RON", "name": "Romanian Leu"}'>RON - Romanian Leu</option>
                <option value='{"code": "RSD", "name": "Serbian Dinar"}'>RSD - Serbian Dinar</option>
                <option value='{"code": "RUB", "name": "Russian Ruble"}'>RUB - Russian Ruble</option>
                <option value='{"code": "RWF", "name": "Rwandan Franc"}'>RWF - Rwandan Franc</option>
                <option value='{"code": "SAR", "name": "Saudi Riyal"}'>SAR - Saudi Riyal</option>
                <option value='{"code": "SBD", "name": "Solomon Islands Dollar"}'>SBD - Solomon Islands Dollar</option>
                <option value='{"code": "SCR", "name": "Seychellois Rupee"}'>SCR - Seychellois Rupee</option>
                <option value='{"code": "SDG", "name": "Sudanese Pound"}'>SDG - Sudanese Pound</option>
                <option value='{"code": "SEK", "name": "Swedish Krona"}'>SEK - Swedish Krona</option>
                <option value='{"code": "SGD", "name": "Singapore Dollar"}'>SGD - Singapore Dollar</option>
                <option value='{"code": "SHP", "name": "Saint Helena Pound"}'>SHP - Saint Helena Pound</option>
                <option value='{"code": "SLE", "name": "Sierra Leonean Leone"}'>SLE - Sierra Leonean Leone</option>
                <option value='{"code": "SOS", "name": "Somali Shilling"}'>SOS - Somali Shilling</option>
                <option value='{"code": "SRD", "name": "Surinamese Dollar"}'>SRD - Surinamese Dollar</option>
                <option value='{"code": "SSP", "name": "South Sudanese Pound"}'>SSP - South Sudanese Pound</option>
                <option value='{"code": "STN", "name": "São Tomé and Príncipe Dobra"}'>STN - São Tomé and Príncipe Dobra</option>
                <option value='{"code": "SYP", "name": "Syrian Pound"}'>SYP - Syrian Pound</option>
                <option value='{"code": "SZL", "name": "Eswatini Lilangeni"}'>SZL - Eswatini Lilangeni</option>
                <option value='{"code": "THB", "name": "Thai Baht"}'>THB - Thai Baht</option>
                <option value='{"code": "TJS", "name": "Tajikistani Somoni"}'>TJS - Tajikistani Somoni</option>
                <option value='{"code": "TMT", "name": "Turkmenistan Manat"}'>TMT - Turkmenistan Manat</option>
                <option value='{"code": "TND", "name": "Tunisian Dinar"}'>TND - Tunisian Dinar</option>
                <option value='{"code": "TOP", "name": "Tongan Pa'anga"}'>TOP - Tongan Pa'anga</option>
                <option value='{"code": "TRY", "name": "Turkish Lira"}'>TRY - Turkish Lira</option>
                <option value='{"code": "TTD", "name": "Trinidad and Tobago Dollar"}'>TTD - Trinidad and Tobago Dollar</option>
                <option value='{"code": "TVD", "name": "Tuvaluan Dollar"}'>TVD - Tuvaluan Dollar</option>
                <option value='{"code": "TWD", "name": "New Taiwan Dollar"}'>TWD - New Taiwan Dollar</option>
                <option value='{"code": "TZS", "name": "Tanzanian Shilling"}'>TZS - Tanzanian Shilling</option>
                <option value='{"code": "UAH", "name": "Ukrainian Hryvnia"}'>UAH - Ukrainian Hryvnia</option>
                <option value='{"code": "UGX", "name": "Ugandan Shilling"}'>UGX - Ugandan Shilling</option>
                <option value='{"code": "USD", "name": "United States Dollar"}'>USD - United States Dollar</option>
                <option value='{"code": "UYU", "name": "Uruguayan Peso"}'>UYU - Uruguayan Peso</option>
                <option value='{"code": "UZS", "name": "Uzbekistani Som"}'>UZS - Uzbekistani Som</option>
                <option value='{"code": "VES", "name": "Venezuelan Bolívar"}'>VES - Venezuelan Bolívar</option>
                <option value='{"code": "VND", "name": "Vietnamese Đồng"}'>VND - Vietnamese Đồng</option>
                <option value='{"code": "VUV", "name": "Vanuatu Vatu"}'>VUV - Vanuatu Vatu</option>
                <option value='{"code": "WST", "name": "Samoan Tala"}'>WST - Samoan Tala</option>
                <option value='{"code": "XAF", "name": "Central African CFA Franc"}'>XAF - Central African CFA Franc</option>
                <option value='{"code": "XCD", "name": "East Caribbean Dollar"}'>XCD - East Caribbean Dollar</option>
                <option value='{"code": "XDR", "name": "Special Drawing Rights"}'>XDR - Special Drawing Rights</option>
                <option value='{"code": "XOF", "name": "West African CFA franc"}'>XOF - West African CFA franc</option>
                <option value='{"code": "XPF", "name": "CFP Franc"}'>XPF - CFP Franc</option>
                <option value='{"code": "YER", "name": "Yemeni Rial"}'>YER - Yemeni Rial</option>
                <option value='{"code": "ZAR", "name": "South African Rand"}'>ZAR - South African Rand</option>
                <option value='{"code": "ZMW", "name": "Zambian Kwacha"}'>ZMW - Zambian Kwacha</option>
                <option value='{"code": "ZWL", "name": "Zimbabwean Dollar"}'>ZWL - Zimbabwean Dollar</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col">
          <label></label>
          <div class="swap-btn">
            <button type="button" id="swap" class="btn btn-outline-primary mx-auto d-block">
              Swap <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="col">
          <label for="secondary-currency">To</label>
          <div class="container">
            <div class="currency">
              <select class="form-control" id="secondary-currency">
                  <option value='{"code": "AED", "name": "UAE Dirham"}'>AED - UAE Dirham</option>
                  <option value='{"code": "AFN", "name": "Afghan Afghani"}'>AFN - Afghan Afghani</option>
                  <option value='{"code": "ALL", "name": "Albanian Lek"}'>ALL - Albanian Lek</option>
                  <option value='{"code": "AMD", "name": "Armenian Dram"}'>AMD - Armenian Dram</option>
                  <option value='{"code": "ANG", "name": "Netherlands Antillian Guilder"}'>ANG - Netherlands Antillian Guilder</option>
                  <option value='{"code": "AOA", "name": "Angolan Kwanza"}'>AOA - Angolan Kwanza</option>
                  <option value='{"code": "ARS", "name": "Argentine Peso"}'>ARS - Argentine Peso</option>
                  <option value='{"code": "AUD", "name": "Australian Dollar"}'>AUD - Australian Dollar</option>
                  <option value='{"code": "AWG", "name": "Aruban Florin"}'>AWG - Aruban Florin</option>
                  <option value='{"code": "AZN", "name": "Azerbaijani Manat"}'>AZN - Azerbaijani Manat</option>
                  <option value='{"code": "BAM", "name": "Bosnia and Herzegovina Mark"}'>BAM - Bosnia and Herzegovina Mark</option>
                  <option value='{"code": "BBD", "name": "Barbados Dollar"}'>BBD - Barbados Dollar</option>
                  <option value='{"code": "BDT", "name": "Bangladeshi Taka"}'>BDT - Bangladeshi Taka</option>
                  <option value='{"code": "BGN", "name": "Bulgarian Lev"}'>BGN - Bulgarian Lev</option>
                  <option value='{"code": "BHD", "name": "Bahraini Dinar"}'>BHD - Bahraini Dinar</option>
                  <option value='{"code": "BIF", "name": "Burundian Franc"}'>BIF - Burundian Franc</option>
                  <option value='{"code": "BMD", "name": "Bermudian Dollar"}'>BMD - Bermudian Dollar</option>
                  <option value='{"code": "BND", "name": "Brunei Dollar"}'>BND - Brunei Dollar</option>
                  <option value='{"code": "BOB", "name": "Bolivian Boliviano"}'>BOB - Bolivian Boliviano</option>
                  <option value='{"code": "BRL", "name": "Brazilian Real"}'>BRL - Brazilian Real</option>
                  <option value='{"code": "BSD", "name": "Bahamian Dollar"}'>BSD - Bahamian Dollar</option>
                  <option value='{"code": "BTN", "name": "Bhutanese Ngultrum"}'>BTN - Bhutanese Ngultrum</option>
                  <option value='{"code": "BWP", "name": "Botswana Pula"}'>BWP - Botswana Pula</option>
                  <option value='{"code": "BYN", "name": "Belarusian Ruble"}'>BYN - Belarusian Ruble</option>
                  <option value='{"code": "BZD", "name": "Belize Dollar"}'>BZD - Belize Dollar</option>
                  <option value='{"code": "CAD", "name": "Canadian Dollar"}'>CAD - Canadian Dollar</option>
                  <option value='{"code": "CDF", "name": "Congolese Franc"}'>CDF - Congolese Franc</option>
                  <option value='{"code": "CHF", "name": "Swiss Franc"}'>CHF - Swiss Franc</option>
                  <option value='{"code": "CLP", "name": "Chilean Peso"}'>CLP - Chilean Peso</option>
                  <option value='{"code": "CNY", "name": "Chinese Renminbi"}'>CNY - Chinese Renminbi</option>
                  <option value='{"code": "COP", "name": "Colombian Peso"}'>COP - Colombian Peso</option>
                  <option value='{"code": "CRC", "name": "Costa Rican Colon"}'>CRC - Costa Rican Colon</option>
                  <option value='{"code": "CUP", "name": "Cuban Peso"}'>CUP - Cuban Peso</option>
                  <option value='{"code": "CVE", "name": "Cape Verdean Escudo"}'>CVE - Cape Verdean Escudo</option>
                  <option value='{"code": "CZK", "name": "Czech Koruna"}'>CZK - Czech Koruna</option>
                  <option value='{"code": "DJF", "name": "Djiboutian Franc"}'>DJF - Djiboutian Franc</option>
                  <option value='{"code": "DKK", "name": "Danish Krone"}'>DKK - Danish Krone</option>
                  <option value='{"code": "DOP", "name": "Dominican Peso"}'>DOP - Dominican Peso</option>
                  <option value='{"code": "DZD", "name": "Algerian Dinar"}'>DZD - Algerian Dinar</option>
                  <option value='{"code": "EGP", "name": "Egyptian Pound"}'>EGP - Egyptian Pound</option>
                  <option value='{"code": "ERN", "name": "Eritrean Nakfa"}'>ERN - Eritrean Nakfa</option>
                  <option value='{"code": "ETB", "name": "Ethiopian Birr"}'>ETB - Ethiopian Birr</option>
                  <option value='{"code": "EUR", "name": "Euro"}'>EUR - Euro</option>
                  <option value='{"code": "FJD", "name": "Fiji Dollar"}'>FJD - Fiji Dollar</option>
                  <option value='{"code": "FKP", "name": "Falkland Islands Pound"}'>FKP - Falkland Islands Pound</option>
                  <option value='{"code": "FOK", "name": "Faroese Króna"}'>FOK - Faroese Króna</option>
                  <option value='{"code": "GBP", "name": "Pound Sterling"}'>GBP - Pound Sterling</option>
                  <option value='{"code": "GEL", "name": "Georgian Lari"}'>GEL - Georgian Lari</option>
                  <option value='{"code": "GGP", "name": "Guernsey Pound"}'>GGP - Guernsey Pound</option>
                  <option value='{"code": "GHS", "name": "Ghanaian Cedi"}'>GHS - Ghanaian Cedi</option>
                  <option value='{"code": "GIP", "name": "Gibraltar Pound"}'>GIP - Gibraltar Pound</option>
                  <option value='{"code": "GMD", "name": "Gambian Dalasi"}'>GMD - Gambian Dalasi</option>
                  <option value='{"code": "GNF", "name": "Guinean Franc"}'>GNF - Guinean Franc</option>
                  <option value='{"code": "GTQ", "name": "Guatemalan Quetzal"}'>GTQ - Guatemalan Quetzal</option>
                  <option value='{"code": "GYD", "name": "Guyanese Dollar"}'>GYD - Guyanese Dollar</option>
                  <option value='{"code": "HKD", "name": "Hong Kong Dollar"}'>HKD - Hong Kong Dollar</option>
                  <option value='{"code": "HNL", "name": "Honduran Lempira"}'>HNL - Honduran Lempira</option>
                  <option value='{"code": "HRK", "name": "Croatian Kuna"}'>HRK - Croatian Kuna</option>
                  <option value='{"code": "HTG", "name": "Haitian Gourde"}'>HTG - Haitian Gourde</option>
                  <option value='{"code": "HUF", "name": "Hungarian Forint"}'>HUF - Hungarian Forint</option>
                  <option value='{"code": "IDR", "name": "Indonesian Rupiah"}'>IDR - Indonesian Rupiah</option>
                  <option value='{"code": "ILS", "name": "Israeli New Shekel"}'>ILS - Israeli New Shekel</option>
                  <option value='{"code": "IMP", "name": "Manx Pound"}'>IMP - Manx Pound</option>
                  <option value='{"code": "INR", "name": "Indian Rupee"}'>INR - Indian Rupee</option>
                  <option value='{"code": "IQD", "name": "Iraqi Dinar"}'>IQD - Iraqi Dinar</option>
                  <option value='{"code": "IRR", "name": "Iranian Rial"}'>IRR - Iranian Rial</option>
                  <option value='{"code": "ISK", "name": "Icelandic Króna"}'>ISK - Icelandic Króna</option>
                  <option value='{"code": "JEP", "name": "Jersey Pound"}'>JEP - Jersey Pound</option>
                  <option value='{"code": "JMD", "name": "Jamaican Dollar"}'>JMD - Jamaican Dollar</option>
                  <option value='{"code": "JOD", "name": "Jordanian Dinar"}'>JOD - Jordanian Dinar</option>
                  <option value='{"code": "JPY", "name": "Japanese Yen"}'>JPY - Japanese Yen</option>
                  <option value='{"code": "KES", "name": "Kenyan Shilling"}'>KES - Kenyan Shilling</option>
                  <option value='{"code": "KGS", "name": "Kyrgyzstani Som"}'>KGS - Kyrgyzstani Som</option>
                  <option value='{"code": "KHR", "name": "Cambodian Riel"}'>KHR - Cambodian Riel</option>
                  <option value='{"code": "KID", "name": "Kiribati Dollar"}'>KID - Kiribati Dollar</option>
                  <option value='{"code": "KMF", "name": "Comorian Franc"}'>KMF - Comorian Franc</option>
                  <option value='{"code": "KRW", "name": "South Korean Won"}'>KRW - South Korean Won</option>
                  <option value='{"code": "KWD", "name": "Kuwaiti Dinar"}'>KWD - Kuwaiti Dinar</option>
                  <option value='{"code": "KYD", "name": "Cayman Islands Dollar"}'>KYD - Cayman Islands Dollar</option>
                  <option value='{"code": "KZT", "name": "Kazakhstani Tenge"}'>KZT - Kazakhstani Tenge</option>
                  <option value='{"code": "LAK", "name": "Lao Kip"}'>LAK - Lao Kip</option>
                  <option value='{"code": "LBP", "name": "Lebanese Pound"}'>LBP - Lebanese Pound</option>
                  <option value='{"code": "LKR", "name": "Sri Lanka Rupee"}'>LKR - Sri Lanka Rupee</option>
                  <option value='{"code": "LRD", "name": "Liberian Dollar"}'>LRD - Liberian Dollar</option>
                  <option value='{"code": "LSL", "name": "Lesotho Loti"}'>LSL - Lesotho Loti</option>
                  <option value='{"code": "LYD", "name": "Libyan Dinar"}'>LYD - Libyan Dinar</option>
                  <option value='{"code": "MAD", "name": "Moroccan Dirham"}'>MAD - Moroccan Dirham</option>
                  <option value='{"code": "MDL", "name": "Moldovan Leu"}'>MDL - Moldovan Leu</option>
                  <option value='{"code": "MGA", "name": "Malagasy Ariary"}'>MGA - Malagasy Ariary</option>
                  <option value='{"code": "MKD", "name": "Macedonian Denar"}'>MKD - Macedonian Denar</option>
                  <option value='{"code": "MMK", "name": "Burmese Kyat"}'>MMK - Burmese Kyat</option>
                  <option value='{"code": "MNT", "name": "Mongolian Tögrög"}'>MNT - Mongolian Tögrög</option>
                  <option value='{"code": "MOP", "name": "Macanese Pataca"}'>MOP - Macanese Pataca</option>
                  <option value='{"code": "MRU", "name": "Mauritanian Ouguiya"}'>MRU - Mauritanian Ouguiya</option>
                  <option value='{"code": "MUR", "name": "Mauritian Rupee"}'>MUR - Mauritian Rupee</option>
                  <option value='{"code": "MVR", "name": "Maldivian Rufiyaa"}'>MVR - Maldivian Rufiyaa</option>
                  <option value='{"code": "MWK", "name": "Malawian Kwacha"}'>MWK - Malawian Kwacha</option>
                  <option value='{"code": "MXN", "name": "Mexican Peso"}'>MXN - Mexican Peso</option>
                  <option value='{"code": "MYR", "name": "Malaysian Ringgit"}'>MYR - Malaysian Ringgit</option>
                  <option value='{"code": "MZN", "name": "Mozambican Metical"}'>MZN - Mozambican Metical</option>
                  <option value='{"code": "NAD", "name": "Namibian Dollar"}'>NAD - Namibian Dollar</option>
                  <option value='{"code": "NGN", "name": "Nigerian Naira"}'>NGN - Nigerian Naira</option>
                  <option value='{"code": "NIO", "name": "Nicaraguan Córdoba"}'>NIO - Nicaraguan Córdoba</option>
                  <option value='{"code": "NOK", "name": "Norwegian Krone"}'>NOK - Norwegian Krone</option>
                  <option value='{"code": "NPR", "name": "Nepalese Rupee"}'>NPR - Nepalese Rupee</option>
                  <option value='{"code": "NZD", "name": "New Zealand Dollar"}'>NZD - New Zealand Dollar</option>
                  <option value='{"code": "OMR", "name": "Omani Rial"}'>OMR - Omani Rial</option>
                  <option value='{"code": "PAB", "name": "Panamanian Balboa"}'>PAB - Panamanian Balboa</option>
                  <option value='{"code": "PEN", "name": "Peruvian Sol"}'>PEN - Peruvian Sol</option>
                  <option value='{"code": "PGK", "name": "Papua New Guinean Kina"}'>PGK - Papua New Guinean Kina</option>
                  <option value='{"code": "PHP", "name": "Philippine Peso"}'>PHP - Philippine Peso</option>
                  <option value='{"code": "PKR", "name": "Pakistani Rupee"}'>PKR - Pakistani Rupee</option>
                  <option value='{"code": "PLN", "name": "Polish Złoty"}'>PLN - Polish Złoty</option>
                  <option value='{"code": "PYG", "name": "Paraguayan Guaraní"}'>PYG - Paraguayan Guaraní</option>
                  <option value='{"code": "QAR", "name": "Qatari Riyal"}'>QAR - Qatari Riyal</option>
                  <option value='{"code": "RON", "name": "Romanian Leu"}'>RON - Romanian Leu</option>
                  <option value='{"code": "RSD", "name": "Serbian Dinar"}'>RSD - Serbian Dinar</option>
                  <option value='{"code": "RUB", "name": "Russian Ruble"}'>RUB - Russian Ruble</option>
                  <option value='{"code": "RWF", "name": "Rwandan Franc"}'>RWF - Rwandan Franc</option>
                  <option value='{"code": "SAR", "name": "Saudi Riyal"}'>SAR - Saudi Riyal</option>
                  <option value='{"code": "SBD", "name": "Solomon Islands Dollar"}'>SBD - Solomon Islands Dollar</option>
                  <option value='{"code": "SCR", "name": "Seychellois Rupee"}'>SCR - Seychellois Rupee</option>
                  <option value='{"code": "SDG", "name": "Sudanese Pound"}'>SDG - Sudanese Pound</option>
                  <option value='{"code": "SEK", "name": "Swedish Krona"}'>SEK - Swedish Krona</option>
                  <option value='{"code": "SGD", "name": "Singapore Dollar"}'>SGD - Singapore Dollar</option>
                  <option value='{"code": "SHP", "name": "Saint Helena Pound"}'>SHP - Saint Helena Pound</option>
                  <option value='{"code": "SLE", "name": "Sierra Leonean Leone"}'>SLE - Sierra Leonean Leone</option>
                  <option value='{"code": "SOS", "name": "Somali Shilling"}'>SOS - Somali Shilling</option>
                  <option value='{"code": "SRD", "name": "Surinamese Dollar"}'>SRD - Surinamese Dollar</option>
                  <option value='{"code": "SSP", "name": "South Sudanese Pound"}'>SSP - South Sudanese Pound</option>
                  <option value='{"code": "STN", "name": "São Tomé and Príncipe Dobra"}'>STN - São Tomé and Príncipe Dobra</option>
                  <option value='{"code": "SYP", "name": "Syrian Pound"}'>SYP - Syrian Pound</option>
                  <option value='{"code": "SZL", "name": "Eswatini Lilangeni"}'>SZL - Eswatini Lilangeni</option>
                  <option value='{"code": "THB", "name": "Thai Baht"}'>THB - Thai Baht</option>
                  <option value='{"code": "TJS", "name": "Tajikistani Somoni"}'>TJS - Tajikistani Somoni</option>
                  <option value='{"code": "TMT", "name": "Turkmenistan Manat"}'>TMT - Turkmenistan Manat</option>
                  <option value='{"code": "TND", "name": "Tunisian Dinar"}'>TND - Tunisian Dinar</option>
                  <option value='{"code": "TOP", "name": "Tongan Pa'anga"}'>TOP - Tongan Pa'anga</option>
                  <option value='{"code": "TRY", "name": "Turkish Lira"}'>TRY - Turkish Lira</option>
                  <option value='{"code": "TTD", "name": "Trinidad and Tobago Dollar"}'>TTD - Trinidad and Tobago Dollar</option>
                  <option value='{"code": "TVD", "name": "Tuvaluan Dollar"}'>TVD - Tuvaluan Dollar</option>
                  <option value='{"code": "TWD", "name": "New Taiwan Dollar"}'>TWD - New Taiwan Dollar</option>
                  <option value='{"code": "TZS", "name": "Tanzanian Shilling"}'>TZS - Tanzanian Shilling</option>
                  <option value='{"code": "UAH", "name": "Ukrainian Hryvnia"}'>UAH - Ukrainian Hryvnia</option>
                  <option value='{"code": "UGX", "name": "Ugandan Shilling"}'>UGX - Ugandan Shilling</option>
                  <option value='{"code": "USD", "name": "United States Dollar"}'selected>USD - United States Dollar</option>
                  <option value='{"code": "UYU", "name": "Uruguayan Peso"}'>UYU - Uruguayan Peso</option>
                  <option value='{"code": "UZS", "name": "Uzbekistani Som"}'>UZS - Uzbekistani Som</option>
                  <option value='{"code": "VES", "name": "Venezuelan Bolívar"}'>VES - Venezuelan Bolívar</option>
                  <option value='{"code": "VND", "name": "Vietnamese Đồng"}'>VND - Vietnamese Đồng</option>
                  <option value='{"code": "VUV", "name": "Vanuatu Vatu"}'>VUV - Vanuatu Vatu</option>
                  <option value='{"code": "WST", "name": "Samoan Tala"}'>WST - Samoan Tala</option>
                  <option value='{"code": "XAF", "name": "Central African CFA Franc"}'>XAF - Central African CFA Franc</option>
                  <option value='{"code": "XCD", "name": "East Caribbean Dollar"}'>XCD - East Caribbean Dollar</option>
                  <option value='{"code": "XDR", "name": "Special Drawing Rights"}'>XDR - Special Drawing Rights</option>
                  <option value='{"code": "XOF", "name": "West African CFA franc"}'>XOF - West African CFA franc</option>
                  <option value='{"code": "XPF", "name": "CFP Franc"}'>XPF - CFP Franc</option>
                  <option value='{"code": "YER", "name": "Yemeni Rial"}'>YER - Yemeni Rial</option>
                  <option value='{"code": "ZAR", "name": "South African Rand"}'>ZAR - South African Rand</option>
                  <option value='{"code": "ZMW", "name": "Zambian Kwacha"}'>ZMW - Zambian Kwacha</option>
                  <option value='{"code": "ZWL", "name": "Zimbabwean Dollar"}'>ZWL - Zimbabwean Dollar</option>
                </select>
                
            </div>
          </div>
        </div>
      </div>


      <div class="rate" id="rate"></div>
      <div class="base-rate" id="base-rate"></div>
      <div class="rate-notes" id="rate-notes"></div>
    </div>

    <footer class="footer py-3 mt-auto">
      <div class="container-fluid">
        <p>MyCurrencyList &copy; 2024</p>
      </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
